<div class="panel panel-primary">
    <div class="panel-heading">
        Device location (Company)
    </div>
    <div class="panel-body">
        <p>Device image and basic description info goes here...</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>InvNum</th>
                    <th>SerialNum</th>
                    <th>Supply</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>...content...</td>
                    <td>...content...</td>
                    <td>...content...</td>
                    <td>...content...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <a href="#">Edit</a>
    </div>
</div>