<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Inventory App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
   
</script>
</body>
</html>
